{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": "2",
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
