.section__alert, .section__alert:visited, .section__alert:active, .section__alert:hover {
    margin: -30px -40px 20px;
    display: block;
    padding: 20px;
    background-color: #ffa;
    color: #000;
    border-radius: 5px 5px 0 0;
    text-decoration: none !important;
    font-weight: normal;
    line-height: 1.5;
    text-align: left;
}

.section__alert:hover {
    background-color: #ffff46;
    color: #171717;
}

.alert-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 7px;
    text-decoration: none !important;
    display: block;
}

.section__alert span {
    font-weight: bold;
    text-decoration: underline;
}