/*
::: Ignore!
::: Some quick styles for the demo page
*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.4em;
    line-height: 1.4em;
    color: #7d7d7d;
}

p {
    margin-bottom: 0.5em;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 0.75em;
}

a.btn {
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.btn-dark {
    background: #000000;
    color: white;
}

.btn-light {
    background: whitesmoke;
    color: #2d2d2d;
}

h1, h2, h3, h4, h5, h6 {
    color: #2d2d2d;
}

pre {
    margin: 1.25em 0;
    background: whitesmoke;
    padding: 10px 0;
    line-height: 1.75em;
}

.page-wrap {
    display: block;
    padding: 50px;
    max-width: 700px;
    margin: auto;
}

section.header {
    margin-top: 150px;
    text-align: center;
    margin-bottom: 125px;
}

section.header .btn {
    margin-left: 3px;
}

section.header h1 {
    font-size: 3em;
}

section.header p {
    margin-bottom: 1em;
}