---
import { getFormattedStars } from "../lib/github";

const starCount = await getFormattedStars('kamranahmedse/driver.js');
---
<div class="border-b flex items-center justify-between" docs-header>
  <div class="w-[300px] text-right flex justify-end">
    <a href="/" class="flex items-center py-4 pr-5 border-r">
      <img src="/driver-head.svg" alt="Astro" class="w-8 h-8 mr-2" />
      <span class="text-xl font-bold">driver.js</span>
    </a>
  </div>
  <div class="flex items-center pr-12">
    <a href="https://github.com/kamranahmedse/driver.js" target="_blank"
       class="text-black font-medium hover:border-gray-300 hover:bg-gray-50 text-sm flex items-center border rounded-md py-1.5 px-2">
      <img src="/star.svg" class="mr-1" />
      {starCount} GitHub Stars
    </a>
  </div>
</div>