---
import { getFormattedStars } from "../lib/github";

const starCount = await getFormattedStars('kamranahmedse/driver.js');
---
<div class="border-b flex items-center justify-between" docs-header>
  <div class="w-[200px] lg:w-[300px] text-right flex justify-end">

  </div>
  <div class="flex items-center pr-12">

  </div>
</div>