---
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<div class="flex flex-col gap-4">
  <span class="border-b-2 border-b-yellow-300 block w-[50px]"></span>
  <h3 class="text-3xl font-bold text-yellow-300">
    { title }
  </h3>
  <p class="text-xl text-gray-300">
    { description }
  </p>
</div>