@import "./base";
@import "../../src/driver";

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

.page-wrap {
  width: 500px;
  margin: 50px auto;
  background: white;
  padding: 10px 30px;
  border-radius: 5px;
  color: #333333;

  a, a:visited, a:focus {
    color: #333333;
  }

  a.btn__dark {
    color: #FFFFFF;
    background-color: #F44336;
    padding: 0 18px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    font-weight: 500;
    width: 240px;
    font-size: 17px;
    margin: auto;
    display: block;
  }

  a.btn__run-demo {
    background: #f54336;
    padding: 5px;
    border-radius: 20px;
    color: white;
    display: block;
    margin: 15px 0 10px;
    text-align: center;
  }
}

section {
  margin-bottom: $global-guttering*1.25;
}

.section__header {
  margin: 10px 0 30px;
  text-align: center;
  display: block;
  padding: 10px;

  h1 {
    font-size: 55px;

    .emoji {
      font-size: 45px;
      top: -4px;
      margin-right: 3px;
      position: relative;
    }
  }
}

.section__examples {
  .section__example {
    margin-bottom: 20px;
  }

  #creation-input {
    margin-top: 20px;
  }

  input {
    padding: 10px;
    background-color: #fafbfc;
    border: 3px solid #e1e4e8;
    border-radius: 3px;
    box-shadow: inset 0 0 10px rgba(27, 31, 35, 0.05);
    margin-bottom: 0;
    margin-top: 7px;
  }
}

.position-btns a {
  font-size: 13px;
  padding: 10px 15px;
  background: #f54336;
  color: white !important;
  border-radius: 6px;
}