$text-color: #2d2d2d;
$popover-bg: #ffffff;
$stage-bg: #ffffff;
$button-bg: #f1f1f1;
$disabled-btn-color: #808080;

$popover-zindex: 1000000000;
$overlay-zindex: 100002;
$stage-zindex: 100003;
$highlighted-element-zindex: 100004;

// If you update this duration, make sure to
// update `ANIMATION_DURATION_MS` constant
$animation-ms: 400;
$animation-sec: ($animation-ms / 1000) * 1s;

div#driver-popover-item {
  display: none;
  position: absolute;
  background: $popover-bg;
  color: $text-color;
  margin: 0;
  padding: 15px;
  border-radius: 5px;
  min-width: 250px;
  max-width: 300px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
  z-index: $popover-zindex;

  .driver-popover-tip {
    border: 5px solid $popover-bg;
    content: '';
    position: absolute;

    &.bottom {
      bottom: -10px;
      border-top-color: $popover-bg;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }

    &.left {
      left: -10px;
      top: 10px;
      border-top-color: transparent;
      border-right-color: $popover-bg;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }

    &.right {
      right: -10px;
      top: 10px;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: $popover-bg;
    }

    &.top {
      top: -10px;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: $popover-bg;
      border-left-color: transparent;
    }
  }

  .driver-popover-footer {
    display: block;
    clear: both;
    margin-top: 5px;

    button {
      display: inline-block;
      padding: 3px 10px;
      border: 1px solid #d4d4d4;
      text-decoration: none;
      text-shadow: 1px 1px 0 #fff;
      color: $text-color;
      font: 11px/normal sans-serif;
      cursor: pointer;
      outline: 0;
      background-color: $button-bg;
      border-radius: 2px;
      zoom: 1;
      margin: 10px 0 0;
      line-height: 1.3;
    }

    button.driver-disabled {
      color: $disabled-btn-color;
      cursor: default;
      pointer-events: none;
    }

    .driver-close-btn {
      float: left;
    }

    .driver-btn-group {
      float: right;
    }
  }

  .driver-popover-title {
    font: 19px/normal sans-serif;
    margin: 0 0 5px;
    font-weight: bold;
    display: block;
    position: relative;
    line-height: 1.5;
    zoom: 1;
  }

  .driver-popover-description {
    margin-bottom: 0;
    font: 14px/normal sans-serif;
    line-height: 1.5;
    color: $text-color;
    font-weight: normal;
    zoom: 1;
  }
}

.driver-no-animation {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

div#driver-page-overlay {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  zoom: 1;
  z-index: $overlay-zindex !important;

  -webkit-transition: all $animation-sec;
  -moz-transition: all $animation-sec;
  -ms-transition: all $animation-sec;
  -o-transition: all $animation-sec;
  transition: all $animation-sec;
}

div#driver-highlighted-element-stage {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 300px;
  background: rgba(255,255,255,0);
  -webkit-box-shadow: 0px 0px 0px 5000px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 0px 5000px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  z-index: $stage-zindex !important;
  display: none;

  -webkit-transition: all $animation-sec;
  -moz-transition: all $animation-sec;
  -ms-transition: all $animation-sec;
  -o-transition: all $animation-sec;
  transition: all $animation-sec;
}

.driver-highlighted-element {
  z-index: $highlighted-element-zindex !important;
}

.driver-position-relative {
  position: relative !important;
}

.driver-fix-stacking {
  z-index: auto !important;
  opacity: 1.0 !important;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
  -webkit-filter: none !important;
  -moz-filter: none !important;
  -ms-filter: none !important;
  -o-filter: none !important;
  filter: none !important;
  -webkit-perspective: none !important;
  -moz-perspective: none !important;
  -ms-perspective: none !important;
  -o-perspective: none !important;
  perspective: none !important;
  -webkit-transform-style: flat !important;
  -moz-transform-style: flat !important;
  -ms-transform-style: flat !important;
  transform-style: flat !important;
  -webkit-transform-box: border-box !important;
  -moz-transform-box: border-box !important;
  -ms-transform-box: border-box !important;
  -o-transform-box: border-box !important;
  transform-box: border-box !important;
  will-change: unset !important;
}