.driver-active .driver-stage {
  pointer-events: none;
}

.driver-active * {
  pointer-events: none;
}

.driver-active .driver-active-element,
.driver-active .driver-active-element * {
  pointer-events: auto;
  cursor: auto;
}
