.driver-active .driver-stage {
  pointer-events: none;
}

.driver-active * {
  pointer-events: none;
}

.driver-active .driver-active-element,
.driver-active .driver-active-element * {
  pointer-events: auto;
}

@keyframes animate-fade-in {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.driver-fade .driver-stage {
  animation: animate-fade-in 100ms ease-in-out;
}

/* Popover styles */
.driver-popover {
  color: #2d2d2d;
  margin: 0;
  border-radius: 5px;
  min-width: 250px;
  max-width: 300px;
  box-shadow: 0 1px 10px #0006;
  z-index: 1000000000;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
}
